.fresh-news {
    width: 100%;
    height: auto;
}

.fresh-news .fresh-news-list {
    list-style: none;
    max-width: 50%;
    margin: 0 auto;
    min-height: 400px;
}

.fresh-news .fresh-news-list .news-list-item {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.fresh-news .fresh-news-list .news-list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.fresh-news .fresh-news-list .title {
    font-size: medium;
    font-weight: bolder;
    margin: 0 0 10px 0;
    text-align: center;
}

.fresh-news .fresh-news-list .text {
    font-size: 1.2em;
    font-style: italic;
}

.fresh-news .control-panel .button {
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 6px;
    width: 120px;
    height: 34px;
    margin: 40px auto 0;
    display: flex;
}

.fresh-news .control-panel {
    padding: 0 290px;
}

.fresh-news .control-panel .button.left-button {
    float: left;
    padding: 13px 0 0 16px;
}

.fresh-news .control-panel .button.right-button {
    float: right;
    padding: 10px 0 0 47px;
}
