<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ivan\NewsApi\Api\Data\NewsInterface" type="Ivan\News\Model\News"/>
    <preference for="Ivan\NewsApi\Api\NewsRepositoryInterface" type="Ivan\News\Model\NewsRepository"/>
    <preference for="Ivan\NewsApi\Api\Data\NewsSearchResultInterface" type="Ivan\News\Model\NewsSearchResult"/>
    <preference for="Ivan\NewsApi\Model\NewsRepository\SaveNewsInterface" type="Ivan\News\Model\NewsRepository\SaveNews"/>
    <preference for="Ivan\NewsApi\Model\NewsRepository\GetNewsInterface" type="Ivan\News\Model\NewsRepository\GetNews"/>
    <preference for="Ivan\NewsApi\Model\NewsRepository\GetNewsListInterface" type="Ivan\News\Model\NewsRepository\GetNewsList"/>
    <preference for="Ivan\NewsApi\Model\NewsRepository\SaveNews\NewsValidatorPoolInterface" type="Ivan\News\Model\NewsRepository\SaveNews\NewsValidatorPool"/>
    <preference for="Ivan\NewsApi\Model\NewsRepository\SaveNews\NewsValidatorPool\NewsValidatorItemInterface" type="Ivan\News\Model\NewsRepository\SaveNews\NewsValidatorPool\GeneralValidator"/>
    <type name="Ivan\News\Model\NewsRepository\SaveNews\NewsValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="general_validations" xsi:type="object">Ivan\News\Model\NewsRepository\SaveNews\NewsValidatorPool\GeneralValidator</item>
            </argument>
        </arguments>
    </type>
</config>
