<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Ivan\NewsAdminUi\Ui\Component\Control\News\SplitSaveButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">news_news_form.news_news_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ivan\NewsAdminUi\Ui\Component\Control\News\DeleteButton" type="Magento\Backend\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="confirmationMessage" xsi:type="string">Do you confirm delete operation ?</argument>
            <argument name="idFieldName" xsi:type="string">id</argument>
            <argument name="deleteRoutePath" xsi:type="string">*/*/delete</argument>
            <argument name="sortOrder" xsi:type="string">1</argument>
        </arguments>
    </virtualType>
</config>
